* {
    margin :0;
    padding: 0;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

.cart-container {

    background-color:cornflowerblue;
    padding: 20px;
    font-family: 'Arial';
    width:800px;
    border-radius: 20px;
    border:none;
    display: flex;
    flex-direction: column;
    animation: ContainerAnimation 2s 0s;
    overflow: hidden;
    
}



@keyframes ContainerAnimation {

    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
  
    }
}




.cart-title {

    font-size: 1.2em;
    padding-bottom: 10px;
    font-weight: 200;
    color: white;
}

.cart-content {
    display: flex;
    flex-direction: column; 
    padding: 20px 0;  
}

.cart-item {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    animation: ItemAnimation 1s 2s;
}

@keyframes ItemAnimation {

    0% {
    left: 100;
    }
    100% {
    left: 0;
  
    }
}

.remove-item-icon {

    background-color: red;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    

}

.item-total {

    font-size: small;
    font-weight: 300;
    text-align: right;
}

.item-removal h6{
    text-align: right;
    justify-content: right;
    color : red;
    cursor: pointer;
    flex:1;

}



.item-title h4 {

    font-weight: 100;
    font-size: medium;
    width: 50%;

}


.item-price {
    font-weight: bold;
    color : rgb(71, 72, 73);
    text-align: center;
    justify-content: center;
    width: 20%;
}

.cart-button {

    color: #fff;
    background-color:cornflowerblue;
    padding:5px 0;
    width :30px;    
    border: none;
    font-size: medium;
    font-weight: bold;
    margin : 0 5px;
    border-radius: 10px;
    cursor : pointer;
    
}

.no-items {

    text-align: center;
    color: crimson;
    font-size: medium;
    font-weight: 100;
}

button:disabled {

    cursor : not-allowed;
    background-color: aliceblue;
}

.cart-button:hover {

    background-color:rgb(153, 189, 255);
    
}

.cart-total {
    border-top: 1px dotted #000;
}

.cart-total h1{
    margin-top:20px;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    color : white;
}

.cart-total h1:disabled {
    color:firebrick;
}

.item-qty {
    text-align: center;
    width:30%;
}

.items-counter{
    background-color: rebeccapurple;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

.items-counter h1 {
    font-size: medium;
    font-weight: 200;
    align-self: center;
}

.cart-header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom : 1px dotted #000;
}

